discard {
    .outer-content {
        background-color: rgba(32, 32, 33, 0.70);
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 11px;
        .main-content {
            -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            background-color: white;
            width: 100%;
            height: 20%;
            margin-top: 60%;
            ion-label {
                font-size: 20px;
            }
        }
    }
}