<div class="outer-content">

    <div class="main-content">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label>Discard this entry?</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-7>
                </ion-col>
                <ion-col col-3>
                    <h6 text-uppercase (click)="cancel()">Cancel</h6>
                </ion-col>
                <ion-col col-2>
                    <h6 (click)="discard()">OK</h6>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>