page-change-password {
    .outer-content {
        background-color: rgba(32, 32, 33, 0.70);
        .main-content {
            background-color: white;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            margin-top: 133px;
            width: 323px;
            .header {
                padding: 10px;
                background: #f53d3d;
                .toolbar-title-md {
                    padding: 0 12px;
                    font-size: 2rem;
                    font-weight: 500;
                    color: white;
                }
            }
        }
    }
}